* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}
.container .form {
  width: 500px;
  height: 751.2px;
  border-radius: 0.375em;
  margin-left: auto;
  margin-right: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(29 33 68/var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .form .form_text {
  display: flex;
  flex-direction: column;
}
.container .form .form_text .text_one {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  margin: 0px 0px 12px;
}
.container .form .form_text .text_two {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0px 0px 44px;
  color: #959cb1;
}

.btn_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_text .btn_google {
  width: 380px;
  height: 48px;
  display: flex;
  background-color: #242b51;
  margin: 0px 0px 24px;
  padding: 12px;
  border: 0px;
  cursor: pointer;
  --tw-shadow: 0px 5px 10px rgba(4, 10, 34, 0.2);
  --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border-radius: 6px;
  gap: 10px;
  color: #959cb1;
  font-size: 16px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}
.btn_text .btn_google .google_text {
  transition: all ease 0.5s;
}
.btn_text .btn_google .google_text:hover {
  color: white;
}
.btn_text .txt {
  font-size: 16px;
  color: #959cb1;
  font-family: sans-serif;
  padding: 0px 20px;
}

.sign_email {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sign_email .email_div {
  display: flex;
  flex-direction: column;
}
.sign_email .email_div .email_text {
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0px 0px 12px;
}
.sign_email .email_div .email_input {
  width: 380px;
  height: 49.6px;
  padding: 12px 24px;
  background-color: #242b51;
  border: 0px;
  outline: none;
  color: #959cb1;
  border-radius: 6px;
  --tw-shadow: 0px 5px 10px rgba(4, 10, 34, 0.2);
  --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.submit {
  display: flex;
  gap: 130px;
}
.submit .chekcbox {
  display: flex;
  gap: 10px;
  color: #959cb1;
  font-size: 14px;
  font-family: sans-serif;
}
.submit .check {
  color: #4a6cf7;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
}

.submit_btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.submit_btn .sign_in {
  width: 380px;
  height: 56px;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #4a6cf7;
  padding: 16px 36px;
  border: 0px;
  border-radius: 6px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.submit_btn .sign_text {
  display: flex;
  gap: 5px;
  color: #959cb1;
  font-family: sans-serif;
  font-size: 16px;
}
.submit_btn .sign_text .text_blue {
  color: #4a6cf7;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */